name: Test pr-merge-comment Action

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version to use in the PR comment"
        required: true
        default: "1.0.0"

      test-name:
        description: "Optional test name for the workflow run"
        required: false
        default: "test"

      test-conclusion:
        description: "Optional test conclusion for the workflow run"
        required: false
        default: "test"

jobs:
  test-pr-merge-comment:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Test pr-merge-comment action
        uses: ./pr-merge-comment
        with:
          version: "${{ github.event.inputs.version }}"
          sha: "${{ github.sha }}"
          test-name: "${{ github.event.inputs.test-name }}"
          test-conclusion: "${{ github.event.inputs.test-conclusion }}"
